<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BlobTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BlobTester.Properties.Settings>
            <setting name="connection" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=wasifblob;AccountKey=t7YU30Cp1b/rP6qZ0FyoI0TLsaEnMZ6/dgQQPRbQId8YQ6uy9jyDx4yLUAdQA/y0sxpD+qp4+ikM1k6MokndCw==;EndpointSuffix=core.windows.net</value>
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value>F:\Azure poc\test files</value>
            </setting>
        </BlobTester.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="localPath" value="F:\Azure poc\test files"/>
    <add key="connection" value="DefaultEndpointsProtocol=https;AccountName=wasifblob;AccountKey=t7YU30Cp1b/rP6qZ0FyoI0TLsaEnMZ6/dgQQPRbQId8YQ6uy9jyDx4yLUAdQA/y0sxpD+qp4+ikM1k6MokndCw==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>